
nav {
  background-color: #282c34;
  display: flex;
  gap: 10%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navLink {
  text-decoration: none;
  color: aliceblue;
}

.container{
  background-color: #6e6e6e;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#card-container{
  display: grid;
  grid-template-columns: auto auto auto
}

h1 {
  color: aliceblue;
}